/* Slider container */
.slider {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

/* Slides */
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin: auto;
    
}

/* Slide (image) */
.slides img {
    width: auto;
    /* 이미지의 가로 크기를 원본 크기로 */
    height: 500px;
    /* 이미지의 세로 크기를 원본 크기로 */
    display: block;
    /* 여백 제거 */
    margin : 0;

}

/* Navigation buttons */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}